body{
    background-color: #9edbae;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 20px;
    color : #000000;
    margin: 0;
    padding: 0;
    text-align: center;
}
h1{
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 50px;
    color : #b96b21;
}
p{
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 20px;
    color : #000000;
}
#status{
    color : #b96b21;

}

#sort_table {
	border-collapse:collapse;
    margin: 0 auto;
}
#sort_table td {
	border:1px solid lightgray;
}
#sort_table th {
	cursor:pointer;
	background-color:lightgray;
}